<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Hello World do Thymeleaf</title>
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
</head>
<body>

<p>
<p th:text="'Data no servidor:' + ${#dates.format(data, 'dd/MM/yyyy')}" class="destaque">Alô, papai!</p>


<h1 th:text="${'Tamanho da lista' + #lists.size(lista)}">Alô, mamãe!</h1>

<span th:text="${#numbers.listFormatInteger(lista, 7, 'NONE')}"></span>

<h1>A lista numa tabela</h1>
<table border="1" >
<tr>
<th>Fusos</th>
</tr>
<tr th:each="f : ${lista}">
	<td th:text="${f}">banana</td>
</tr>

</table>
</body>
</html>
